:root {
  --account-center-position-right: 78px;
  --onboard-font-size-5: 14px;
  --onboard-font-family-normal: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  @media screen and (min-width: 1280px) {
    --account-center-position-right: 160px;
  }
}
